@model ApiUI.Models.Tickets
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="sec">
    <div class="container">
        <header>
            <a asp-controller="Home" asp-action="Index"><img src="~/img/interrolllogo2.png" class="logo"></a>
            <ul>
                <li class="nav-item">
                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">All Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="text-dark" asp-area="" asp-controller="Tickets" asp-action="Upsert">Add Ticket</a>
                </li>
                <li><a href="#">News</a></li>
                <li><a href="#">What's New</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>
        
       
        <form class="form1" method="post" asp-action="Upsert" enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <h2>Edit Ticket</h2>
               
            </div>
            <div class="form-floating mb-3">
                
            </div>
            <label class="form-label" for="textAreaExample" asp-for="title">Subject</label>
            <input asp-for="title" class="form-control" />
            <label asp-for="comment">Describe Whats Going on...</label>
            <textarea class="form-control mb-3" id="textAreaExample1" rows="4" asp-for="comment"></textarea>
            <button class="w-100 mb-2 btn btn-lg rounded-4 submit" type="submit">I'm Finished Editing My Ticket Submit Now</button>
        </form>
        
    </div>
</section>



@section Scripts{
<script src="~/lib/js/tickets.js"></script>
}
